<mat-toolbar color="primary"> 
    <span>
        <a mat-button routerLink href=""> 
            <mat-icon>
                fact_check
            </mat-icon> PWA-1002
        </a>
    </span>

    <div>
        <a mat-button href=""  routerLinkActive="active" routerLink="Temperatura" >Temperatura</a>
    </div>
    <div>
        <a mat-button href=""  routerLinkActive="active" routerLink="Multiplicacion" >Multiplicación</a>
    </div>  
    <div>
        <a mat-button href=""  routerLinkActive="active" routerLink="Cinepolis" >Cinepolis</a>
    </div>  




</mat-toolbar>


<div>
    <router-outlet>  </router-outlet>
</div>