<mat-toolbar color="primary"> 
    <span>
        <a mat-button routerLink href=""> 
            <mat-icon>
                fact_check
            </mat-icon> PWA-1002
        </a>
    </span>

    <div>
      <!--  <a mat-button href=""  routerLinkActive="active" routerLink="Temperatura" >Temperatura</a> -->
        <a mat-button href=""  routerLinkActive="active" routerLink="DatosPersonales" >Datos Personales</a>
    </div>
    <div>
        <a mat-button href=""  routerLinkActive="active" routerLink= "Examen">Examen</a>
    </div>  
    <div>
        <a mat-button href=""  routerLinkActive="active" routerLink="Resultados" >Resultados</a>
    </div>  




</mat-toolbar>


<div>
    <router-outlet>  </router-outlet>
</div>