<div class="container">
    <div class="card  m-3">
        <h1 class="text-center">Hola {{datosCombinados.datosPrimerComponente.datosNombre}} {{datosCombinados.datosPrimerComponente.datosAmaterno}} {{datosCombinados.datosPrimerComponente.datosAmaterno}}</h1>
        <h2 class="text-center">Tienes {{datosCombinados.datosPrimerComponente.datosEdad}} años y tu signo zodiacal chino es:</h2>
        <div class="row justify-content-center d-flex">
            <img class="rounded mx-auto d-block " style="max-width: 200px; max-height: 200px;" src="{{datosCombinados.datosPrimerComponente.datosSigno}}" alt="">
        </div>
        <p class="text-center">Calificacion : {{datosCombinados.datosCali}}</p>
    </div>
</div>