<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div class="container mt-3 ">
        <div class="card">
            <div class="mb-2 d-flex p-2 justify-content-center ">
                <h2>Ingresa la temperatura </h2>
            </div>
           
            <div class="mb-2 d-flex justify-content-center">
                <input type="text"  [(ngModel)]="tem"  >
            </div>
    
            <div class="flex-row  ">
                <div class="d-flex justify-content-center">
                    <input class="" type="radio" name="r1"  [(ngModel)]="tip"  value="1" placeholder="fahrenheit">fahrenheit 
                </div>
                <div class="d-flex justify-content-center">
                    <input class="" type="radio" name="r1"  [(ngModel)]="tip" value="2" placeholder="Celsius">Celsius 
                </div>
    
            </div>
               
            <div class="d-flex  p-4 justify-content-center">
                <button  (click)="calcular()"  class="btn-primary justify-content-center">Calcular</button>
             
            </div>
            <div class="d-flex  p-2 justify-content-center">
            
                <label for="" class="d-flex justify-content-center">Resultado es :{{tx3}}  {{tx}}  {{resultado}}  {{tx2}}   </label>
            </div>
        </div>
        
       

       
    </div>


    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
